* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Body {
  font-family: "Kanit", sans-serif;
  font-family: "Roboto Slab", serif;
}

/* NAVBAR */
.navbar-toggler {
  background-color: #fff;
}

.botonNav:hover {
  color: #f2cc8f;
}

.textNav {
  color: white;
  text-transform: uppercase;
}
.textNav:hover {
  color: #f2cc8f;
}

.colorTexto {
  color: white;
}
.colorTexto:hover {
  text-transform: uppercase;
  color: #f2cc8f;
}

/* MAIN INICIO */
.textoH2 {
  font-size: 40px;
  text-align: center;
  padding: 30px 0 10px 0;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .textoH2 {
    font-size: 24px;
  }
}

.textoParrafo {
  font-size: 18px;
  margin: 30px;
}

.cardTituloIni {
  font-size: 25px;
}
@media (max-width: 576px) {
  .cardTituloIni .media {
    font-size: 34px;
  }
}

.marginInicio {
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
}

/* VIDEO DE YOUTUBE */
.videoInicio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.sec {
  width: 100%;
  overflow: hidden;
}

.imgInicio {
  width: 100%;
  display: block;
}

.fondoInicio {
  background-image: url("../imagenes/galaxy1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh;
}

.imgCentrar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* INVESTIGACION CARDS */
.borde {
  border: none;
  padding: 20px;
}

.fotoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .fotoCard .h2Card {
    font-size: 34px;
  }
}

.parrafoInv {
  margin: 20px;
}

/* MAIN BIOGRAFIA */
h2 {
  font-size: 40px;
  text-align: center;
  padding: 30px 0 10px 0;
  text-transform: uppercase;
}

.imgBio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pBio {
  margin: 30px;
  font-size: 18px;
  margin: 30px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

/* VIDEO DE YOUTUBE */
.videoContainer {
  margin-left: 20%;
}

.linea {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
}

/* MAIN CONTACTO */
.divContenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.divContenedor img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.parrafoContacto {
  color: white;
  font-size: 16px;
  line-height: 1.5;
  max-width: 800px;
  margin-left: 30px;
  margin-top: 80px;
  flex: 1;
}

@media (max-width: 768px) {
  .divContenedor {
    flex-direction: column;
    align-items: center;
  }
  .parrafoContacto {
    margin: 0 auto;
  }
}
.h2Contacto {
  font-size: 40px;
  text-align: center;
  padding: 30px 0 10px 0;
  text-transform: uppercase;
  padding-bottom: 60px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.sombra {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.fondoFoto {
  background-image: url("../imagenes/andromeda.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* MAIN BIBLIOGRAFIA */
.tituloH2Bi {
  text-align: center;
  padding: 30px 0 30px 0;
}

.cardTitulo {
  font-size: 25px;
}
@media (max-width: 576px) {
  .cardTitulo .media {
    font-size: 24px;
  }
}

.biblio {
  padding: 10px 0 10px 0;
}

/* FOOTER */
footer {
  margin: 0 auto;
  margin-top: auto;
}

.colorFooter {
  background-color: black;
}

/* FOTO DE INICIO */
.card-title {
  font-size: 3em;
  text-transform: uppercase;
  margin-top: 100px;
}
@media (max-width: 576px) {
  .card-title {
    font-size: 1em;
  }
}

.card-text {
  font-size: 1.2em;
}
@media (max-width: 576px) {
  .card-text {
    font-size: 0.8em;
  }
}

/* BOTON WPP */
.wpp {
  width: 60px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 9999;
}

/* BOTON FLOTANTE */
.botonFlotante {
  position: fixed;
  bottom: 100px;
  right: 35px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 25px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.botonFlotante:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=estilo.css.map */
