* {
    margin: 0;
    box-sizing: border-box;
}

/******** BODY **********/

.color-body {
  background-color: white;
}

/******* boton wpp *******/

.wpp {
  width: 60px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 9999;
}

/********* NAVBAR *********/

.navbar-toggler {
  background-color: #fff;

}


.text-nav {
  color: white;
  text-transform: uppercase;
}
.text-nav:hover {
  color: #dda15e;
}

.color-texto {
  color: white;

}

.color-texto:hover {
  text-transform: uppercase;
  color:#dda15e ;
}

.boton-nav:hover {
  color: #dda15e;
}

/************** FOTO DE INICIO **************/
.card-title {

    font-size: 3em;
    text-transform: uppercase;
    margin-top: 100px;

}
.card-text {
  font-size: 1.5em;
}


@media (max-width: 576px) {
  .card-title,
  .card-text {
      font-size: 1em;  
  }
}

/**************** MAIN INICIO ***************/

.texto-h2 {
  text-align: center;
  padding: 30px 0 10px 0;
}

.texto-parrafo {
  padding: 20px 30px 30px
}

@media (max-width: 576px) {
  .texto-h2 {
    font-size: 24px;
  }
}

/*****************  INVESTIGACION CARDS ****************/

.color-caja {
  background-color: #dda15e ;
}
.foto-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

@media (max-width: 576px) {
  .h2-card {
    font-size: 34px;
  }
}

/***************** MAIN BIOGRAFIA **********************/

h2 {
  font-size: 60px;
}

.img-bio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h2-bio {
  margin-top: 30px;
  margin-bottom: 30px;
}

.p-bio {
  margin: 5%;
  font-size: 25px;
}



/*************** MAIN CONTACTO ***************/

.figure-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fig-contacto {
  font-size: 60px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 100%;
}

.sombra {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5); /* Agrega una sombra con desplazamiento horizontal de 2px, desplazamiento vertical de 2px y un radio de desenfoque de 4px */
 
}

/***************** MAIN BIBLIOGRAFIA ******************/
.bi {
  text-align: center;
  padding: 50px;
}



/************ FOOTER *************/

footer {
  margin: 0 auto;
  margin-top: auto;
}

.color-footer {
  background-color: black;
}
