  /* MAIN BIOGRAFIA */
  
  h2 {
    @include titulos;
  }

  .imgBio {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pBio {
    @include parrafos;
    @include centroTexto;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

  /* VIDEO DE YOUTUBE */

.videoContainer {
  margin-left: 20%;
}

.linea {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
}