  /* MAIN BIOGRAFIA */
  
  h2 {
    @include titulos;
  }

  .imgBio {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pBio {
    margin: 30px;
    @include parrafos;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }