/* MAIN CONTACTO */

.divContenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.divContenedor img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.parrafoContacto {
  color: $colorNav;
  font-size: 16px;
  line-height: 1.5;
  max-width: 800px;
  margin-left: 30px;
  margin-top: 80px;
  flex: 1;
}

@media (max-width: 768px) {
  .divContenedor {
      flex-direction: column;
      align-items: center;
  }

  .parrafoContacto {
      margin: 0 auto;
  }
}

  .h2Contacto {
    @include titulos;
    padding-bottom: 60px;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  
  .sombra {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  }
  
  .fondoFoto {
    background-image: url('../imagenes/andromeda.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
