  /* INVESTIGACION CARDS */
  
  .borde {
    @include bordes;
    padding: 20px;
  }
  
  .fotoCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    @media (max-width: 768px) {
      .h2Card {
        font-size: 34px;
      }
    }
  }
  
  .parrafoInv {
    margin: 20px;
    @include centroTexto;
  }